header{
    height:100vh;
    padding:7rem;
    overflow:hidden;
}
.header_container{
    text-align:center;
    height:100%;
    position:relative;

}

/* =========CTA=====*/
.cta{
margin-top:2.5rem;
display:flex;
gap:1.2rem;

}
/* =========SOCIALS=====*/


.header_socials{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.8rem;
    position:absolute;
    left:0;
    bottom:3rem;

}

.header_socials::after{
    content:"";
    width:1px;
    height:2rem;
    background:var(--color-primary);
}
/* =========ME=====*/
 .me{
  background: linear-gradient(var(--color-primary),transparent);
  width:22rem;
  height:30rem;
  position:absolute;
  left: calc(50% - 11rem);
  margin-top:4rem;
  border-radius:12rem 12rem 0 0 ;
  overflow:hidden;
  padding:5rem 1.5rem 1.5rem 1.5rem;

}

/* =========SCROLL DOWN=============*/
.scroll_down{
    position:absolute;
    right:-2.3rem;
    bottom:5rem;
    transform:rotate(90deg);
    font-weight:300;
    font-size: 0.9rem;

}


/*  ==========MEDIA QUERIES (MEDIUM DEVICES) ========*/
@media screen and (max-width:1024px)
{
   header{
    height:60vh;
   }
}

/*  ==========MEDIA QUERIES (SMALL DEVICES) ========*/
@media screen and (max-width:600px)
{
    header{
        height:100vh;
       }
    .header_socials,.scroll_down
    {
        display:none;
    }
}

.i{
    display:flex;
    height:100vh;
    
}
.i-left
{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
}
.i-right
{
    flex:1;
   position: relative;
}
.i-left-wrapper
{
   padding: 50px; 
   height:50%;
   
   display:flex;
   flex-direction: column;
   justify-content: space-between;
}
.i-intro
{
    font-size: 30px;
    font-weight:300;
}
.i-name{
    font-size:60px;
}
.i-title
{
    height:50px;
    overflow: hidden;
}
.i-title-wrapper
{
   height:100%;
   animation: move 10s ease-in-out infinite alternate;
}
@keyframes move{
    50%{
        transform:translateY(-50px);
    }
    50%{
        transform:translateY(-100px);
    }
}


.i-title-item
{
    height:50px;
    font-size: 30px;
    font-weight: bold;
    color:var(--color-bg-variant);
    
    display:flex;
    align-items: center;
}
.i-img
{
    width:100%;
    height:100%;
    object-fit: cover;
    position:absolute ;
}
.i-bg
{
    clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color:var(--color-bg-variant);
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    right:0;

}